.bloody-grid {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.bloody-grid:after {
  content: '';
  display: block;
}
.bloody-grid [data-bg-size] {
  position: absolute;
  overflow: hidden;
}
.bloody-grid [data-bg-5="hide"] {
  display: none;
}
.bloody-grid[data-bg-rows-5="1"]:after {
  margin-top: 120%;
}
.bloody-grid[data-bg-rows-5="2"]:after {
  margin-top: 120%;
}
.bloody-grid[data-bg-rows-5="3"]:after {
  margin-top: 120%;
}
.bloody-grid[data-bg-rows-5="4"]:after {
  margin-top: 120%;
}
.bloody-grid[data-bg-rows-5="5"]:after {
  margin-top: 120%;
}
.bloody-grid[data-bg-rows-5="6"]:after {
  margin-top: 120%;
}
.bloody-grid [data-bg-5^="0,"] {
  left: 0%;
}
.bloody-grid [data-bg-5^="1,"] {
  left: 20%;
}
.bloody-grid [data-bg-5^="2,"] {
  left: 40%;
}
.bloody-grid [data-bg-5^="3,"] {
  left: 60%;
}
.bloody-grid [data-bg-5^="4,"] {
  left: 80%;
}
.bloody-grid [data-bg-5$=",0"] {
  top: 0%;
}
.bloody-grid [data-bg-5$=",1"] {
  top: 16.666666666666668%;
}
.bloody-grid [data-bg-5$=",2"] {
  top: 33.333333333333336%;
}
.bloody-grid [data-bg-5$=",3"] {
  top: 50%;
}
.bloody-grid [data-bg-5$=",4"] {
  top: 66.66666666666667%;
}
.bloody-grid [data-bg-5$=",5"] {
  top: 83.33333333333334%;
}
.bloody-grid [data-bg-size^="1x"] {
  width: 20%;
}
.bloody-grid [data-bg-size^="2x"] {
  width: 40%;
}
.bloody-grid [data-bg-size$="x1"] {
  height: 16.666666666666668%;
}
.bloody-grid [data-bg-size$="x2"] {
  height: 33.333333333333336%;
}
@media only screen and (max-width:800px) {
  .bloody-grid [data-bg-3="hide"] {
    display: none;
  }
  .bloody-grid[data-bg-rows-3="1"]:after {
    margin-top: 333.33333333333337%;
  }
  .bloody-grid[data-bg-rows-3="2"]:after {
    margin-top: 333.33333333333337%;
  }
  .bloody-grid[data-bg-rows-3="3"]:after {
    margin-top: 333.33333333333337%;
  }
  .bloody-grid[data-bg-rows-3="4"]:after {
    margin-top: 333.33333333333337%;
  }
  .bloody-grid[data-bg-rows-3="5"]:after {
    margin-top: 333.33333333333337%;
  }
  .bloody-grid[data-bg-rows-3="6"]:after {
    margin-top: 333.33333333333337%;
  }
  .bloody-grid[data-bg-rows-3="7"]:after {
    margin-top: 333.33333333333337%;
  }
  .bloody-grid[data-bg-rows-3="8"]:after {
    margin-top: 333.33333333333337%;
  }
  .bloody-grid[data-bg-rows-3="9"]:after {
    margin-top: 333.33333333333337%;
  }
  .bloody-grid[data-bg-rows-3="10"]:after {
    margin-top: 333.33333333333337%;
  }
  .bloody-grid [data-bg-3^="0,"] {
    left: 0%;
  }
  .bloody-grid [data-bg-3^="1,"] {
    left: 33.333333333333336%;
  }
  .bloody-grid [data-bg-3^="2,"] {
    left: 66.66666666666667%;
  }
  .bloody-grid [data-bg-3$=",0"] {
    top: 0%;
  }
  .bloody-grid [data-bg-3$=",1"] {
    top: 10%;
  }
  .bloody-grid [data-bg-3$=",2"] {
    top: 20%;
  }
  .bloody-grid [data-bg-3$=",3"] {
    top: 30%;
  }
  .bloody-grid [data-bg-3$=",4"] {
    top: 40%;
  }
  .bloody-grid [data-bg-3$=",5"] {
    top: 50%;
  }
  .bloody-grid [data-bg-3$=",6"] {
    top: 60%;
  }
  .bloody-grid [data-bg-3$=",7"] {
    top: 70%;
  }
  .bloody-grid [data-bg-3$=",8"] {
    top: 80%;
  }
  .bloody-grid [data-bg-3$=",9"] {
    top: 90%;
  }
  .bloody-grid [data-bg-size^="1x"] {
    width: 33.333333333333336%;
  }
  .bloody-grid [data-bg-size^="2x"] {
    width: 66.66666666666667%;
  }
  .bloody-grid [data-bg-size$="x1"] {
    height: 10%;
  }
  .bloody-grid [data-bg-size$="x2"] {
    height: 20%;
  }
}
@media only screen and (min-width:1401px) {
  .bloody-grid [data-bg-7="hide"] {
    display: none;
  }
  .bloody-grid[data-bg-rows-7="1"]:after {
    margin-top: 57.14285714285714%;
  }
  .bloody-grid[data-bg-rows-7="2"]:after {
    margin-top: 57.14285714285714%;
  }
  .bloody-grid[data-bg-rows-7="3"]:after {
    margin-top: 57.14285714285714%;
  }
  .bloody-grid[data-bg-rows-7="4"]:after {
    margin-top: 57.14285714285714%;
  }
  .bloody-grid [data-bg-7^="0,"] {
    left: 0%;
  }
  .bloody-grid [data-bg-7^="1,"] {
    left: 14.285714285714286%;
  }
  .bloody-grid [data-bg-7^="2,"] {
    left: 28.571428571428573%;
  }
  .bloody-grid [data-bg-7^="3,"] {
    left: 42.85714285714286%;
  }
  .bloody-grid [data-bg-7^="4,"] {
    left: 57.142857142857146%;
  }
  .bloody-grid [data-bg-7^="5,"] {
    left: 71.42857142857143%;
  }
  .bloody-grid [data-bg-7^="6,"] {
    left: 85.71428571428572%;
  }
  .bloody-grid [data-bg-7$=",0"] {
    top: 0%;
  }
  .bloody-grid [data-bg-7$=",1"] {
    top: 25%;
  }
  .bloody-grid [data-bg-7$=",2"] {
    top: 50%;
  }
  .bloody-grid [data-bg-7$=",3"] {
    top: 75%;
  }
  .bloody-grid [data-bg-size^="1x"] {
    width: 14.285714285714286%;
  }
  .bloody-grid [data-bg-size^="2x"] {
    width: 28.571428571428573%;
  }
  .bloody-grid [data-bg-size$="x1"] {
    height: 25%;
  }
  .bloody-grid [data-bg-size$="x2"] {
    height: 50%;
  }
}
